#Basice Operation and Operators
# ADD +
# Sum -
# MUL *
# DIV / (real number)
# INTEGER DIV //(Whole number)

# MODULUS % (remainer)
#  EXPONENT ** (power)

In [1]:
2+2

4

In [2]:
3-10

-7

In [3]:
329*123

40467

In [4]:
10/3

3.3333333333333335

In [5]:
10//3

3

In [6]:
10**3

1000

In [7]:
10%3

1

#Comparison Operators<,>,<=,>=,==,!=

In [8]:
9203>2139

True

In [9]:
2903<9202

True

In [10]:
290<903

True

In [11]:
100==5

False

In [12]:
5!=5

False

In [13]:
'Hello'

'Hello'

In [14]:
"this is a message in double quotes"

'this is a message in double quotes'

In [15]:
'''this is sparta'''

'this is sparta'

In [16]:
namm = 'khushbu'

In [17]:
a = 10

In [18]:
b = 3

In [19]:
a + b

13

In [20]:
b**a

59049

In [21]:
a//11

0

In [22]:
collage = 'colvin Taluqdats college'

In [23]:
dod = '3 jan'

In [24]:
mobile = '7571968876'

Variables

In [25]:
Name = "Bruce wayne"

In [26]:
hero = "Batman"

In [27]:
x =1

In [28]:
y = 35656225548877711

In [29]:
z = 319*118

In [30]:
type(x)

int

In [31]:
x = 1.22

In [32]:
name = "bruce wayne 01"

In [33]:
Color = 'yellow'

In [34]:
Institute = 'digipodium'

In [35]:
Kahani = '''this is the story of a person who was not learing to code one day that person'''

In [37]:
is_coding=True

In [38]:
is_fun=True

In [39]:
colors = ['red', 'green', 'yellow']

In [40]:
a = [5,10,15,20,25,30,35,40]

In [41]:
vals= [1,2.2, 'python']

In [42]:
a = (5,10,15,20,25,30,35,40)

In [43]:
vals= (1,2.2, 'python')

In [44]:
colors = ('red', 'green', 'yellow')

In [45]:
a = {5,10,15,20,25,30,35,40}

In [46]:
vals = {1,2.2, 'python'}

In [47]:
colors = {'red', 'green', 'yellow'}

In [49]:
car_info = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [50]:
location = 'Lucknow is my place'

In [51]:
12 +13 # add

25

In [52]:
"Random" + location

'RandomLucknow is my place'

In [54]:
#you can multiply a string withb a number -> duplication"Ha"* 10