In [1]:
x = "python"
for i in x :
    print(i)

p
y
t
h
o
n

In [2]:
x = "python is awesome"
for i in x:
    print(i)

p
y
t
h
o
n

i
s

a
w
e
s
o
m
e

In [3]:
fruits = ['apple', 'banana', 'lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [4]:
movies = ['The Holy Grali' 'The Life of Brian', 'The meaning of Life', 'Terminator', 'pulp Ficion']

In [5]:
for movie in movies:
    print(movie, len(movie))

The Holy GraliThe Life of Brian 31
The meaning of Life 19
Terminator 10
pulp Ficion 11

In [6]:
# for Loop with counter
for i, name in enumerate (movies):
    print(f"(i) - (name")

(i) - (name
(i) - (name
(i) - (name
(i) - (name

In [7]:
for i in range(6):
    print('you got point', i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [8]:
for num in range (2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [9]:
# reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [10]:
# pattern loop
for i in range(10):
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

### wap to print if number are even or odd from 1,101.
### wap to print the sum of all even numbers from 2 to 101.
### wap o print the average of all odd numbers from 1 to 100.

In [11]:
#1
for i in range(1, 101):
    if i %2 == 0:
        print('even', i)
    else:
        print('odd',i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30
odd 31
even 32
odd 33
even 34
odd 35
even 36
odd 37
even 38
odd 39
even 40
odd 41
even 42
odd 43
even 44
odd 45
even 46
odd 47
even 48
odd 49
even 50
odd 51
even 52
odd 53
even 54
odd 55
even 56
odd 57
even 58
odd 59
even 60
odd 61
even 62
odd 63
even 64
odd 65
even 66
odd 67
even 68
odd 69
even 70
odd 71
even 72
odd 73
even 74
odd 75
even 76
odd 77
even 78
odd 79
even 80
odd 81
even 82
odd 83
even 84
odd 85
even 86
odd 87
even 88
odd 89
even 90
odd 91
even 92
odd 93
even 94
odd 95
even 96
odd 97
even 98
odd 99
even 100

In [12]:
#2 simple version
total = 0
for i in range(2, 102):
    if i % 2 == 0:
        total += i
        print("total of all even numbers=>",total)

total of all even numbers=> 2
total of all even numbers=> 6
total of all even numbers=> 12
total of all even numbers=> 20
total of all even numbers=> 30
total of all even numbers=> 42
total of all even numbers=> 56
total of all even numbers=> 72
total of all even numbers=> 90
total of all even numbers=> 110
total of all even numbers=> 132
total of all even numbers=> 156
total of all even numbers=> 182
total of all even numbers=> 210
total of all even numbers=> 240
total of all even numbers=> 272
total of all even numbers=> 306
total of all even numbers=> 342
total of all even numbers=> 380
total of all even numbers=> 420
total of all even numbers=> 462
total of all even numbers=> 506
total of all even numbers=> 552
total of all even numbers=> 600
total of all even numbers=> 650
total of all even numbers=> 702
total of all even numbers=> 756
total of all even numbers=> 812
total of all even numbers=> 870
total of all even numbers=> 930
total of all even numbers=> 992
total of all even numbers=> 1056
total of all even numbers=> 1122
total of all even numbers=> 1190
total of all even numbers=> 1260
total of all even numbers=> 1332
total of all even numbers=> 1406
total of all even numbers=> 1482
total of all even numbers=> 1560
total of all even numbers=> 1640
total of all even numbers=> 1722
total of all even numbers=> 1806
total of all even numbers=> 1892
total of all even numbers=> 1980
total of all even numbers=> 2070
total of all even numbers=> 2162
total of all even numbers=> 2256
total of all even numbers=> 2352
total of all even numbers=> 2450
total of all even numbers=> 2550

In [13]:
# naive implementation
print(1,2,3,4,5,sep=',')
print(2,4,6,8,10,sep=',')
print(3,6,9,12,15,sep=',')
print(4,8,12,16,20,sep=',')
print(5,10,15,20,25,30,sep=',')

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25,30

In [14]:
# better implemenation
for i in range(1,6):
    print(1*i,2*i,3*i,4*i,5*i,sep=',')

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

In [15]:
# best implemenation -> dynamics row col
for row in range(1,5):
    for col in range(1,5):
        print(row*col,end=',')
        print()

1,
2,
3,
4,
2,
4,
6,
8,
3,
6,
9,
12,
4,
8,
12,
16,

In [16]:
for row in range(1,6):
    for col in range(1,6):
        print(row*col,end='')
        print()

1
2
3
4
5
2
4
6
8
10
3
6
9
12
15
4
8
12
16
20
5
10
15
20
25

While loop

In [17]:
x =1
while x < 5:
    print('run')
    x+=1
    print('stop')

run
stop
run
stop
run
stop
run
stop

In [18]:
# a complex program
n=10

# initializa sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1 # update counter

    # print the sum 
    print("The sum is ",sum)

The sum is  1
The sum is  3
The sum is  6
The sum is  10
The sum is  15
The sum is  21
The sum is  28
The sum is  36
The sum is  45
The sum is  55

In [19]:
poem=''
while input ('do you want to write another link?[y/n')=='y':
    line = input(">>>")
    poem +=line
    chars = len(poem)
    print(f"total char in poem is {chars}")

## Break & Countinue

In [20]:
# continue
x = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in x :
    if isinstance(i,str):
        continue
    total+=i
    print(total)

1
3
6
10
15
21
28
36
45
55

In [22]:
# continue
x = [1,2,'',3,4,5,'',6,7,'',8,9,10]
total = 0
for i in x :
    if isinstance(i,str):
        continue
    total += i print (total)

SyntaxError: invalid syntax (468167737.py, line 7)

In [23]:
poem=''
while True:# infinite
    line = input("enter poem line>>")
    if line:
        poem += line+'/n'
    else:
        break
    print("total char",len(poem))
    print(poem)

In [24]:
for i in range(1,6):
    print(1*i,2*i,3*i,4*i,5*i,sep=',')

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

In [25]:
for i in range(2,5,2):
    print(2*i,4*i,sep=',')

4,8
8,16